.git
.gitignore
.DS_Store

**/node_modules
**/vendor

**/.env
**/.env.*

**/dist
**/build

**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*

**/*.md
**/.idea
**/.vscode

docker/