APP_NAME="IT Students World"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

APP_LOCALE=ru
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=ru_RU

LOG_CHANNEL=stack
LOG_LEVEL=debug

# --- Database ---
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=itsw
DB_USERNAME=user
DB_PASSWORD=

# --- Cache / Session / Queue ---
CACHE_STORE=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync

# --- Mail (не используется, но Laravel требует) ---
MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# --- Sanctum ---
SANCTUM_STATEFUL_DOMAINS=localhost:5173

# --- Frontend ---
FRONTEND_URL=http://localhost:5173
